* {
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: #ad9885;
}

/* Login and Intro pages */

.vertical-ribbon {
  position: absolute;
  right: 30%;
  top: 0;
  bottom: 0;
  width: 90px;

  background-color: #d1345b;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.intro-title-card-ribbon {
  position: relative;
  left: 0;
  right: 0;
  top: 15%;
  height: 240px;

  background-color: #942911;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.intro-title-ribbon {
  position: absolute;
  left: 0;
  right: 0;
  top: 2em;
  bottom: 2em;

  padding: 0 25%;

  z-index: 1;
  background-color: #3454d1;
  box-shadow: 2px 8px 4px 1px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.into-title-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.intro-title-text {
  color: #ddf6fd;
  margin-right: 1em;
}

.intro-main {
  position: absolute;
  bottom: 35%;
  left: 30%;
}

.tassle {
  position: absolute;
  left: 5%;
  top: 0;
  z-index: 2;

  width: 105px;
  height: 415px;

  object-fit: cover;
  object-position: 0% 0%;
  margin-top: -85px;
  overflow: hidden;
}

.menu-button {
  font-size: 2em;
  height: 2em;
  width: 4em;

  background-color: #ffe7d1;
  border: 0.1em solid #b85900;
  border-radius: 0.5em;
  box-shadow: -2px 2px 0 rgba(144, 90, 39, 0.25);
}

/* Common pages */

.header {
  height: 90px;
  flex: 0 0 auto;
  background-color: #3454d1;
  padding-left: 2em;
  padding-right: 2em;
  box-shadow: 2px 8px 4px 1px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-text {
  font-family: sans-serif;
  color: #ddf6fd;
}

.main {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame {
  display: flex;
  justify-content: space-evenly;
}

/* Game */

.game-container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.game-sidebar {
  flex: 0 0 auto;
  width: 10em;
  padding: 1em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  background: #942911;
  color: #ddf6fd;
}

.player-info {
  padding: 1em;
  background-color: #c4c4c4;
  color: #000000;
}

.game-board {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.fighter-area {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.draw-choices {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand {
  display: flex;
  justify-content: center;
  text-align: center;
}

.board-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-card {
  width: 5em;
  height: 7em;
  margin: 0 1em;
}

.card-button {
  width: 10em;
  height: 14em;
  margin: 0 1em;

  background: transparent;
  border: none;
}

.card-button:disabled {
  cursor: not-allowed;
}

.card-back {
  background: grey;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

.selected {
  box-shadow: 0px 0px 8px 4px rgba(245, 194, 10, 0.5);
}

.card-image {
  width: 100%;
  height: 100%;
}

.card-token {
  width: 100%;
  height: 100%;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-token.disabled {
  background-color: #dededf;
}
